body {
    background-color: #1B2223;
    color: #F4FEFD;
}

.title {
    text-align: center;
    font-size: 50px;
    padding: 15px;
}

.second-title {
    text-align: center;
    font-size: 20px;
    padding-bottom: 30px;
}

a {
    text-decoration: none;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    font-size: 20px;
}

.cards .blue {
    background-color: #066252;
}

.cards .grey {
    background-color: #3A4F50;
}

.cards .card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 150px;
    width: 550px;
    border-radius: 10px;
    color: #F4FEFD;
    cursor: pointer;
    transition: 400ms;
}

.cards .card p.tip {
    font-size: 1em;
    font-weight: 700;
}

.cards .card p.second-text {
    font-size: .7em;
}

.cards .card:hover {
    transform: scale(1.1, 1.1);
}

.cards:hover > .card:not(:hover) {
    filter: blur(10px);
    transform: scale(0.9, 0.9);
}


.header {
    background-color: #3A4F50;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding: 5px;
    width: fit-content;
}

.button {
    background-color: #e4e4e4;
    border: none;
    border-radius: 10px;
    box-shadow: inset 5px 5px 5px #c4c4c4,
    inset -5px -5px 5px #ffffff;
    color: #333;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: 3px;
    padding: 10px;
    text-transform: uppercase;
}

.button:hover {
    box-shadow: none;
}

.svg {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.header .Explore {
    color: #3035cb;
}

.header .Explore:hover {
    background-color: #3035cb;
    color: #e4e4e4;
}

.header .Explore svg {
    fill: #3035cb;
}

.header .Explore:hover svg {
    fill: #e4e4e4;
}

.header .Post {
    color: #333;
}

.header .Post:hover {
    background-color: #333;
    color: #e4e4e4;
}

.header .Post svg {
    fill: #333;
}

.header .Post:hover svg {
    fill: #e4e4e4;
}

.header .Chat {
    color: #b82323;
}

.header .Chat:hover {
    background-color: #b82323;
    color: #e4e4e4;
}

.header .Chat svg {
    fill: #b82323;
}

.header .Chat:hover svg {
    fill: #e4e4e4;
}